body{background-color: #brown; }

#wrapper {
  border: 1px solid #ff0000;
  background-color: #ffffff;
  width: 960px;
  margin: 1em auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
header {
  grid-column: span 3;
  background-color: green;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 24px;
}

nav {
  grid-column: span 3;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 200px;
  display: inline-block;
}

nav li a {
  display: block;
  background-color: green;
  border: 1px solid black;
  border-radius: 24px;
  padding: 1em;
  color: white;
  text-decoration: none;
}

main {
  grid-column: span 3;
}

.imagefloat {
  float: left;
  padding-right: 10px;
}

aside {
  grid-column: span 1;
}

footer {
  background-color: green;
grid-column: span 3;
}
