body {
background-color: #ffd633;

}

.imgbox{
  border: 10px solid black;
  padding:5px;
  background-color: white;
}

.bordertop {
  border-top: 2px solid #9933ff;
width: 60%
}

.borderbottom {
  border-bottom: 2px solid #9933ff;
width: 60%

}

.toptext {
  color: #6600cc;
}

.customtextt {
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-weight: bold;
font-size: 20px;
}

h1 {
  font-weight: bold;
  font-size: 80px
}

.textjustify {
text-align: justify;
}

.text{
  font-family: Impact;
  color: #ff00ff;
  font-weight: bold;
font-size: 20px;
}

.spanstyle {
Color: red
}
.pink{
Color:magenta;
}
.purple {
Color: #8a0cc9;
}
