body {
background-color: #ffd633;
font-family: impact;
background-image: url(images/Lakeith.jpg);
background-repeat: no-repeat;
background-position: top left;
width:550px;
}





.imgbox{
  border: 10px solid black;
  padding:5px;
  background-color: white;
}

.bordertop {
  border-top: 2px solid #9933ff;
width: 80%
}

.borderbottom {
  border-bottom: 2px solid #9933ff;
width: 80%

}

.toptext {
  color: #6600cc;
}

.customtext {
font-size: 30px;
}

h1 {
  font-weight: bold;
  font-size: 95px;
 padding-bottom:370px;
}


.purple {
Color: #8a0cc9;
}

.spanstyle {
Color: red
}
.pink{
Color:magenta;
}

#specialid  {
  font-size: 20px
}
#specialid .purple {
  font-size:15px;
}

.centertext{
text-align: center;
}
