

/* CSS */

#divexample {
  color: #0000FF;
}

.spanstyle {
  color: #00FF00;
}

h1 {
 color: #FFFFFF;
 background-color:#80CBB3;
}

h2 {
  color: #FFFFFF;
  background-color: #ff0000;
}

h3 {
  color: #ffff00;
  background-color: #00ffff;
}

a:link {
 color: #ff0000;
}

a:visited {
 color: #008000;
}

a:active {
 color: #00ffff;
}

a:hover {
 color: #ffff00;
}

#Specialid {
  color: #00FF00;
  background-color: #000000;
}

.Specialp {
  color: #ff0000;
  background-color: #00FF00;
}
