
/* CSS */

#diveexample {
  color: #0000FF;
}

.spanstyle {
  color: #00FF00;
}

h1 {
 color: #FFFFFF;
 background-color:#80CBB3;
}

link {
 color: #ff0000;
}

visited {
 color: #008000;
}

active {
 color: #00ffff;
}

hover {
 color: #ffff00;
}

Specialid {
  color: #00FF00;
  background-color: #000000;
}

.Specialp {
  color: #ff0000;
  background-color: #00FF00;
}
